<div class="row">
  <br>
  <div class="col s12 center">
      <img src="./assets/atos_cuadrado.png" class="responsive-img" alt="">
  </div>
</div>
  
<div class="row">
  <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <br>
      <div class="offset-l4 input-field col l4 s12">
          <!--Campo de Usuario-->
          <label for="username">Username</label>
          <input type="text" class="validate" name="username" [(ngModel)]="form.username" required
              #username="ngModel" />
          <div class="alert alert-danger" role="alert" *ngIf="username.error">
              Username es obligatorio!
          </div>
      </div>
      <div class="offset-l4 input-field col l4 s12">
          <label for="password">Password</label>
          <input type="password" class="validate" name="password" [(ngModel)]="form.password" required minlength="6"
              #password="ngModel" />
          <div class="alert alert-danger error" role="alert" *ngIf="password.errors && f.submitted">
              <div *ngIf="password.errors.required">Password es obligatorio</div>
              <div *ngIf="password.errors.minlength">Password debe tener al menos 6 caracteres</div>
          </div>
      </div>

      <div class="offset-l4 input-field col l4 s12">
          <button class="btn waves-effect waves-light black center">Iniciar Sesion
              <i class="material-icons right">send</i>
          </button>
      </div>

      <div class="input-field">
          <div role="alert" *ngIf="f.submitted && isLoginFailed">
              Login failed: {{ errorMessage }}
          </div>
      </div>
  </form>
  <div *ngIf="isLoggedIn">
      Logged como {{ roles }}.
  </div>
</div>